{:objects
 {:Article
  {:description "A physical or virtual board game."
   :fields
                {:id          {:type (non-null Int)}
                 :slug        {:type (non-null String)}
                 :title       {:type String}
                 :description {:type String}
                 :body        {:type        String
                               :description "A one-line summary of the game."}
                 :tags {:type (list String)
                        :resolve :article/tags-for-article}}}}

 :enums
 {:sort_order
  {:values    [{:enum-value :ASC :description "Sort using ascending order"}
               {:enum-value :DESC :description "Sort using descending order"}]}}
 :scalars
 {:DateTime
  {:parse     :scalar/date-time-parse
   :serialize :scalar/date-time-serialize}}

 :queries
 {:article
  {:type        :Article
   :description "Access an article by its unique slug, if it exists."
   :args
                {:slug {:type String}}
   :resolve     :query/article-by-slug}}}


